h2 {
    font-size: 30px;
  /* color: white; */
  margin: 20px;
  padding: 20px;
}

movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0px 0px 0px 30px;
}

.movieRow-listArea {
  overflow-x: hidden;
}

.movieRow-list {
  width: 9999999999px;
}

.movieRow-item {
  display: inline-block;
}

.movieRow-item img {
  width: 100%;
}

.movieRow-item img:hover {
  transform: scale(1.3);
  cursor: pointer;
  border-radius: 20%;
}
